* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Anton", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}

.morePicture {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;

  button {
    padding: 0.25rem 0.5rem;
    font-size: 2rem;
    border: none;
    background-color: rgb(29, 33, 136);
    color: white;
    cursor: pointer;
  }
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  font-size: 1.5rem;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  top: 0;
}

@import "./nav";
@import "./search";
@import "./footer";
@import "./picture";
